# gitignore file

bin
flagged
include
lib
share
pyvenv.cfg


BD_images
BD_images_resized
BD_images_resized_small
BD_images_small

__pycache__
*.pyc
*.pyo

.DS_Store
Thumbs.db
cormier
flagged

notes.txt
test_demo.ipynb
test.py
traitement.ipynb

data/db/db.sqlite3